<div class="admin-dashboard">
  <header>
    <a routerLink="/admin-dashboard"><h1>King Flyer</h1></a>
    <nav>
      <button (click)="logout()">Logout</button>
    </nav>
  </header>

  <div class="admin-actions">
    <button (click)="navigateTo('flight-schedule-management')">
      Add Flight
    </button>
    <button (click)="navigateTo('view-flight-schedules')">View Flights</button>
    <button (click)="navigateTo('view-flight-bookings')">View Bookings</button>
    <button (click)="navigateTo('update-flight-details')">
      Update Flight Details
    </button>
    <button (click)="generateFlightReport()">Generate flight reports</button>
    <button (click)="generateBookingDetails()">Generate Booking details</button>
  </div>
</div>
