* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    color: #fff;
    text-decoration: none;
  }

  nav {
    display: flex;
    gap: 10px;

    button {
      padding: 8px 20px;
      background-color: #007bff;
      color: #ffffff;
      font-size: 1.1rem;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
    }

    button:hover {
      background-color: #004080;
    }
  }
}

.admin-dashboard {
  background-image: url("../../assets/admin-dashboard-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  min-height: 100vh;
}

.admin-actions {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.admin-actions button {
  background-color: #449eff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
  font-weight: bolder;
}

.admin-actions button:hover {
  background-color: #004080;
  box-shadow: 0 0 10px 5px #004080;
  color: #ffffff;
}
