* {
  box-sizing: border-box;
}

.flight-schedule-management {
  // padding-left: 400px;
  // padding-right: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: url("../../../assets/flight-schedule.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;

  h2 {
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 55px;
    position: relative;
    top: 30px;
  }

  form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 3px solid #000000;
    background-color: #adaaaad5;
    border-radius: 8px;
    padding: 20px;
    width: fit-content;

    .container-1 {
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .container-2 {
      height: 514px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .form-group {
      display: flex;
      align-items: center;
      width: 450px;
      justify-content: space-between;
      gap: 10px;

      label {
        font-weight: bold;
        margin-bottom: 5px;
        color: #000000;
        font-size: 18px;
      }

      input[type="text"],
      input[type="date"],
      input[type="time"],
      input[type="number"] {
        font-weight: bold;
        display: block;
        width: 50%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }
    }
    .form-group-2 {
      width: 450px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s ease;
        width: 225px;
      }

      button:hover {
        background-color: #0056b3;
      }
    }
  }
}
