<h2>Manage My Account</h2>

<div class="manage-account">
  <div class="user-details" [formGroup]="userForm">
    <h3>User Details</h3>
    <div>
      <p>
        Name: <span>{{ userDetails.username }}</span>
      </p>
      <div *ngIf="editMode">
        <input type="text" formControlName="username" />
      </div>

      <p>
        Email: <span>{{ userDetails.email }}</span>
      </p>
      <div *ngIf="editMode">
        <input type="email" formControlName="email" />
      </div>

      <p>
        Address: <span>{{ userDetails.address }}</span>
      </p>
      <div *ngIf="editMode">
        <input type="text" formControlName="address" />
      </div>

      <p>
        Phone: <span>{{ userDetails.phoneNo }}</span>
      </p>
      <div *ngIf="editMode">
        <input type="text" formControlName="phoneNo" />
      </div>

      <p>
        DOB: <span>{{ userDetails.dob }}</span>
      </p>
      <div *ngIf="editMode">
        <input type="date" formControlName="dob" />
      </div>
    </div>
    <div *ngIf="!editMode"><button (click)="enableForm()">Edit</button></div>
    <div *ngIf="editMode">
      <button (click)="saveChanges()">Save</button>
      <button (click)="cancelChanges()">Cancel</button>
    </div>
  </div>

  <div class="bookings">
    <h1>My Bookings</h1>
    <div *ngIf="confirmedBookings && confirmedBookings.length">
      <h4>Confirmed Bookings</h4>
      <ul>
        <li *ngFor="let booking of confirmedBookings">
          <p>
            Booking ID: <span>{{ booking.travelID }}</span>
          </p>
          <p>
            AirLine: <span>{{ booking.company }}</span>
          </p>
          <p>
            Departure: <span>{{ booking.departureDate }}</span>
          </p>
          <p>
            Arrival: <span>{{ booking.arrivalDate }}</span>
          </p>
          <p>
            Price: <span>{{ booking.price }}</span>
          </p>
        </li>
      </ul>
      <div *ngIf="pastBookings && pastBookings.length">
        <h4>Past Bookings</h4>
        <ul>
          <li *ngFor="let booking of pastBookings">
            <p>
              Booking ID: <span>{{ booking.travelID }}</span>
            </p>
            <p>
              AirLine: <span>{{ booking.company }}</span>
            </p>
            <p>
              Departure: <span>{{ booking.departureDate }}</span>
            </p>
            <p>
              Arrival: <span>{{ booking.arrivalDate }}</span>
            </p>
            <p>
              Price: <span>{{ booking.price }}</span>
            </p>
          </li>
        </ul>
      </div>
      <div *ngIf="futureBookings && futureBookings.length">
        <h4>Future Bookings</h4>
        <ul>
          <li *ngFor="let booking of futureBookings">
            <p>
              Booking ID: <span>{{ booking.travelID }}</span>
            </p>
            <p>
              AirLine: <span>{{ booking.company }}</span>
            </p>
            <p>
              Departure: <span>{{ booking.departureDate }}</span>
            </p>
            <p>
              Arrival: <span>{{ booking.arrivalDate }}</span>
            </p>
            <p>
              Price: <span>{{ booking.price }}</span>
            </p>
          </li>
        </ul>
      </div>
      <div
        *ngIf="
          !pastBookings ||
          (pastBookings.length === 0 && !futureBookings) ||
          futureBookings.length === 0
        "
      >
        No bookings found.
      </div>
    </div>
  </div>
</div>
