<div class="payment-container">
  <h1>Amount to be paid: {{ getTotalPrice() }}</h1>
  <form (ngSubmit)="pay()">
    <div class="payment-option">
      <input
        type="radio"
        id="card-option"
        name="paymentOption"
        value="card"
        [(ngModel)]="selectedPaymentOption"
        required
      />
      <label for="card-option">Card</label>
      <input
        type="radio"
        id="upi-option"
        name="paymentOption"
        value="upi"
        [(ngModel)]="selectedPaymentOption"
        required
      />
      <label for="upi-option">UPI</label>
    </div>

    <div *ngIf="selectedPaymentOption === 'card'" class="card-details">
      <div class="form-group">
        <label for="card-number">Card Number:</label>
        <input
          type="text"
          id="card-number"
          name="cardNumber"
          [(ngModel)]="cardNumber"
          required
        />
      </div>
      <div class="form-group">
        <label for="card-holder">Card Holder:</label>
        <input
          type="text"
          id="card-holder"
          name="cardHolder"
          [(ngModel)]="cardHolder"
          required
        />
      </div>
      <div class="form-group">
        <label for="expiry-date">Expiry Date:</label>
        <input
          type="date"
          id="expiry-date"
          name="expiryDate"
          [(ngModel)]="expiryDate"
          required
        />
      </div>
      <div class="form-group">
        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" [(ngModel)]="cvv" required />
      </div>
    </div>

    <div *ngIf="selectedPaymentOption === 'upi'" class="upi-details">
      <div class="form-group">
        <label for="upi-id">UPI ID:</label>
        <input
          type="text"
          id="upi-id"
          name="upiId"
          [(ngModel)]="upiId"
          required
        />
      </div>
    </div>

    <button class="pay-button" type="submit">Pay</button>
  </form>
</div>
