<div class="dashboard">
  <header>
    <a routerLink="/user-dashboard"><h1>King Flyer</h1></a>

    <nav>
      <button (click)="navigateTo('upcoming-trips')">Upcoming Trips</button>
      <button (click)="navigateTo('manage-account')">Manage Account</button>
      <button (click)="navigateTo('booking-cancellations')">
        Booking Cancellations
      </button>
      <button *ngIf="!isLoggedIn" (click)="navigateTo('login')">Login</button>
      <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    </nav>
  </header>

  <app-flight-search *ngIf="!isLoggedIn"></app-flight-search>

  <div *ngIf="isLoggedIn">
    <app-flight-search></app-flight-search>
  </div>
</div>
