.dashboard {
  text-align: center;
  background: url("../../assets/user-dashboardbg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;

    a {
      color: #fff;
      text-decoration: none;
    }

    h1 {
      font-size: 2rem;
      transition: all 0.2s ease-in-out;
    }

    h1:hover {
      color: #007bff;
    }

    nav {
      display: flex;
      gap: 10px;

      button {
        padding: 8px 20px;
        background-color: #007bff;
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      button:hover {
        background-color: #004080;
      }
    }
  }
}
