<div class="dashboard">
  <header>
    <a routerLink="/user-dashboard"><h1>King Flyer</h1></a>

    <nav>
      <button *ngIf="isLoggedIn" (click)="navigateTo('manage-account')">
        Manage Account
      </button>
      <button *ngIf="isLoggedIn" (click)="navigateTo('booking-cancellations')">
        Booking Cancellations
      </button>

      <button *ngIf="!isLoggedIn" (click)="login()">Login</button>
      <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    </nav>
  </header>

  <app-flight-search></app-flight-search>
</div>
