<h2 class="booking-heading">Flight Bookings</h2>

<div class="booking-container">
  <!-- <div *ngFor="let booking of pastBookings" class="booking-card">
    <div>
      <p><strong>Travel ID:</strong> {{ booking.travelID }}</p>
      <p><strong>Company:</strong> {{ booking.company }}</p>
      <p><strong>Departure Date:</strong> {{ booking.departureDate }}</p>
      <p><strong>Source:</strong> {{ booking.source }}</p>
      <p><strong>Destination:</strong> {{ booking.destination }}</p>
      <p><strong>Price:</strong> {{ booking.price }}</p>
    </div>
  </div>

  <div *ngFor="let booking of futureBookings" class="booking-card">
    <div>
      <p><strong>Travel ID:</strong> {{ booking.travelID }}</p>
      <p><strong>Company:</strong> {{ booking.company }}</p>
      <p><strong>Departure Date:</strong> {{ booking.departureDate }}</p>
      <p><strong>Source:</strong> {{ booking.source }}</p>
      <p><strong>Destination:</strong> {{ booking.destination }}</p>
      <p><strong>Price:</strong> {{ booking.price }}</p>
    </div>
  </div> -->

  <div *ngFor="let booking of confirmedBookings" class="booking-card">
    <div>
      <p><strong>Travel ID:</strong> {{ booking.travelID }}</p>
      <p><strong>Booked By:</strong> {{ booking.userName }}</p>
      <p><strong>Company:</strong> {{ booking.company }}</p>
      <p><strong>Flight No:</strong> {{ booking.flightNumber }}</p>

      <p><strong>Departure Date:</strong> {{ booking.departureDate }}</p>
      <p><strong>Arrival Date:</strong> {{ booking.arrivalDate }}</p>

      <p><strong>Source:</strong> {{ booking.source }}</p>
      <p><strong>Destination:</strong> {{ booking.destination }}</p>
      <p><strong>Price:</strong> {{ booking.price }}</p>

      <p><strong>Passenger Name:</strong> {{ booking.passengerName }}</p>
      <p><strong>Passenger Age:</strong> {{ booking.passengerAge }}</p>
      <p><strong>Passenger Gender:</strong> {{ booking.passengerGender }}</p>
    </div>
  </div>
</div>
