h2 {
  text-align: center;
  margin-bottom: 20px;
}

.booking-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.booking-container {
  display: flex;
  flex-wrap: wrap;
}

.booking-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  background-color: #f9f9f9;
}

.booking-card p {
  margin: 5px 0;
}

.booking-card p strong {
  font-weight: bold;
}

.booking-card button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.booking-card button:hover {
  background-color: darkred;
}
