<div class="container">
  <h1 class="booking-heading">Flight Bookings</h1>

  <div class="booking-container">
    <div *ngFor="let booking of allBookings" class="booking-card">
      <div>
        <p>
          Booking ID: <span>{{ booking.travelID }}</span>
        </p>
        <p>
          Booked By: <span>{{ booking.userName }}</span>
        </p>
        <p>
          Booked On: <span>{{ booking.bookingDate }}</span>
        </p>

        <p>
          Airline: <span>{{ booking.company }}</span>
        </p>
        <p>
          Flight Number: <span>{{ booking.flightNumber }}</span>
        </p>
        <p>
          Source: <span>{{ booking.source }}</span>
        </p>
        <p>
          Destination: <span>{{ booking.destination }}</span>
        </p>
        <p>
          Departure Date: <span>{{ booking.departureDate }}</span>
        </p>
        <p>
          Arrival Date: <span>{{ booking.arrivalDate }}</span>
        </p>
        <p>
          Passenger Name: <span>{{ booking.passengerName }}</span>
        </p>
        <p>
          Passenger Age: <span>{{ booking.passengerAge }}</span>
        </p>
        <p>
          Passenger Gender: <span>{{ booking.passengerGender }}</span>
        </p>

        <p>
          Passenger Phone: <span>{{ booking.passengerPhone }}</span>
        </p>

        <p>
          Passenger Email: <span>{{ booking.passengerEmail }}</span>
        </p>
        <p>
          Seat Prefernce <span>{{ booking.seatPrefernce }}</span>
        </p>

        <p>
          Price: <span>{{ booking.price }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
