<h2 class="booking-heading">Flight Bookings</h2>

<div class="booking-container">
  <!-- Loop through past bookings -->
  <div *ngFor="let booking of pastBookings" class="booking-card">
    <div>
      <p><strong>Travel ID:</strong> {{ booking.travelID }}</p>
      <p><strong>Company:</strong> {{ booking.company }}</p>
      <p><strong>Departure Date:</strong> {{ booking.departureDate }}</p>
      <p><strong>Source:</strong> {{ booking.source }}</p>
      <p><strong>Destination:</strong> {{ booking.destination }}</p>
      <p><strong>Price:</strong> {{ booking.price }}</p>
    </div>
  </div>

  <!-- Loop through future bookings -->
  <div *ngFor="let booking of futureBookings" class="booking-card">
    <div>
      <p><strong>Travel ID:</strong> {{ booking.travelID }}</p>
      <p><strong>Company:</strong> {{ booking.company }}</p>
      <p><strong>Departure Date:</strong> {{ booking.departureDate }}</p>
      <p><strong>Source:</strong> {{ booking.source }}</p>
      <p><strong>Destination:</strong> {{ booking.destination }}</p>
      <p><strong>Price:</strong> {{ booking.price }}</p>
    </div>
  </div>

  <!-- Loop through confirmed bookings -->
  <div *ngFor="let booking of confirmedBookings" class="booking-card">
    <div>
      <p><strong>Travel ID:</strong> {{ booking.travelID }}</p>
      <p><strong>Company:</strong> {{ booking.company }}</p>
      <p><strong>Departure Date:</strong> {{ booking.departureDate }}</p>
      <p><strong>Source:</strong> {{ booking.source }}</p>
      <p><strong>Destination:</strong> {{ booking.destination }}</p>
      <p><strong>Price:</strong> {{ booking.price }}</p>
    </div>
  </div>
</div>
