<h2 class="update-flights-heading">Update Flights</h2>

<select class="flight-id-dropdown" (change)="selectFlight($event.target.value)">
  <option value="">Select Flight ID</option>
  <option *ngFor="let flightId of flightIds" [value]="flightId">
    {{ flightId }}
  </option>
</select>

<div *ngIf="selectedFlight" class="selected-flight-details">
  <h3>Edit Flight {{ selectedFlight.id }}</h3>
  <form (submit)="updateFlight()" class="flight-update-form">
    <label for="company">Company:</label>
    <input
      type="text"
      id="company"
      [(ngModel)]="selectedFlight.company"
      name="company"
      class="form-control"
    />

    <div class="form-group">
      <label for="source">Source:</label>
      <input
        type="text"
        id="source"
        [(ngModel)]="selectedFlight.source"
        name="source"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="destination">Destination:</label>
      <input
        type="text"
        id="destination"
        [(ngModel)]="selectedFlight.destination"
        name="destination"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="departure">Departure:</label>
      <input
        type="text"
        id="departure"
        [(ngModel)]="selectedFlight.departureTime"
        name="departure"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="arrival">Arrival:</label>
      <input
        type="text"
        id="arrival"
        [(ngModel)]="selectedFlight.arrivalTime"
        name="arrival"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="price-economy">Price for economy class seats:</label>
      <input
        type="text"
        id="price-economy"
        [(ngModel)]="selectedFlight.economy_class_price"
        name="price-economy"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="price-economy">Number of economy class seats:</label>
      <input
        type="text"
        id="price-economy"
        [(ngModel)]="selectedFlight.economy_class_seats"
        name="price-economy"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="price-business">Price for business class seats:</label>
      <input
        type="text"
        id="price-business"
        [(ngModel)]="selectedFlight.business_class_price"
        name="price-business"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="price-business">Number of business class seats:</label>
      <input
        type="text"
        id="price-business"
        [(ngModel)]="selectedFlight.business_class_seats"
        name="price-business"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="price-first">Price for first class seats:</label>
      <input
        type="text"
        id="price-first"
        [(ngModel)]="selectedFlight.first_class_price"
        name="price-first"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="price-first">Number of first class seats:</label>
      <input
        type="text"
        id="price-first"
        [(ngModel)]="selectedFlight.first_class_seats"
        name="price-first"
        class="form-control"
      />
    </div>
    <button type="submit" class="update-button">Update Flight</button>
  </form>
</div>
